#back{
  display: flex;
  background-color: #2e2e2e ;
  border-radius: 8px;
}

#back .backIcon{
  width: 32px;
  height: 32px;
  align-self: center;
  cursor: pointer;
}

#back #backText{
  align-self: center;
  font-size: 24px;
  cursor: pointer;
}

#linkBackButton{
  text-decoration: none;
}